@model IEnumerable<reserva_de_sala_dsm.Models.Usuario>

@{
    ViewData["Title"] = "Lista de Usuário";
}

<h1>Lista de usuários</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Usuário</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Administrador?</th>
            <th></th>
        </tr>
    </thead>
    <tboby>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Email</td>
                <td>@(item.Administrador ? "Sim" : "Não")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tboby>
</table>