@model reserva_de_sala_dsm.Models.Sala

@{
    ViewData["Title"] = "Detalhes da Sala";
}

@if (TempData["SucessMessage"] != null)
{
    <div class="alert alert-success mt-3" role="alert">
        @TempData["SucessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger mt-3" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
<h1>Detalhes da Sala</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Nome:</dt>
        <dd class="col-sm-10">@Model.Nome</dd>

        <dt class="col-sm-2">Capacidade:</dt>
        <dd class="col-sm-10">@Model.Capacidade</dd>

        <dt class="col-sm-2">Recursos:</dt>
        <dd class="col-sm-10">@Model.Recursos</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar para a lista</a>
</div>
