@model IEnumerable<reserva_de_sala_dsm.Models.Sala>

@{
    ViewData["Title"] = "Lista de Salas";
}
<h1>Lista de Salas</h1>

@if(TempData["SucessMessage"] != null)
{
    <div class="alert alert-success mt-3" role="alert">
        @TempData["SucessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger mt-3" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
<p>
    <a asp action="Create" class="btn btn-primary">Nova sala</a>
</p>

<table class="table table-stripred">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Capacidade</th>
            <th>Recursos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.Capacidade</td>
                <td>@item.Recursos</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalhes</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        }

    </tbody>
</table>